.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: gray; */
    margin-left: 1rem;
}

.videoCard{
    width: 33rem;
    height: 10.9rem;
    display: flex;
    flex-direction: row;
    margin: 1rem;

}

.videoContainer{
    width: 315px;
    height: 170px;
    position: relative;
}

.videoDetailContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(22 21 21);
    padding: 0.5rem;
    width: 15rem;
}


.videoTitle{
    font-size: 1rem;
    margin: 0;
}

.channelNameContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.channelTitle{
    font-size: 11px;
    color: grey;
    margin-right: 5px;
}